/* Estilos para la aplicación */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 0;
  color: #333;
}

.task-list {
  display: flex;
  justify-content: space-between;
}

.task-column {
  flex-basis: 30%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-column h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.task {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.task-description {
  color: #777;
  margin-bottom: 10px;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
}

.task-actions button {
  margin-left: 5px;
  background-color: #777;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.task-actions button:first-child {
  background-color: #3498db;
}

.task-actions button:last-child {
  background-color: #e74c3c;
}

.task-actions button:hover {
  background-color: #555;
}
